<h1>Payment</h1>
  <div>
    <form action="/payment/results">
      <label for="apr">APR</label>
      <input id="apr" name="apr" placeholder="E.g. 5.3"><br>
      <label for="years">Number of Years</label>
      <input id="years" name="years" placeholder="How many years to repay?"><br>
      <label for="principal">Principal</label>
      <input id="principal" name="principal" placeholder="How much principal?"><br>
    <button>Calculate monthly payment</button>
  </div>
