<h1>Random Number</h1>
  <div>
    <form action="/random/results">
      <label for="min">Minimum</label>
      <input id="min" name="min" placeholder="e.g. 1.2"><br>
      <label for="max">Maximum</label>
      <input id="max" name="max" placeholder="e.g. 4.5"><br>
    <button>Pick random number</button>
  </div>
