<h1>Square</h1>
  <div>
    <form action="/square/results">
    <label for="number">Enter a number:</label>
    <input id="number" name="input" placeholder="What number do you want to square?">
    <button>Calculate square</button>
  </div>
